html body::-webkit-scrollbar-thumb {
  background-color: #271a4a;
}

.upper_bar .btn_wraper a {
  border: none;
  background-image: -webkit-gradient(linear, right top, left top, from(#00303f), to(#27AAE2));
  background-image: linear-gradient(to left, #00303f, #27AAE2);
  color: #fff;
  padding: 10px 20px;
  border-radius: 10px;
  font-weight: 700;
  text-transform: uppercase;
  background-image: -webkit-gradient(linear, left top, right top, from(#FF449C), color-stop(#7D4196), to(#271a4a));
  background-image: linear-gradient(to right, #FF449C, #7D4196, #271a4a);
}

.upper_bar .btn_wraper a:hover {
  background-image: -webkit-gradient(linear, left top, right top, from(#00303f), to(#27AAE2));
  background-image: linear-gradient(to right, #00303f, #27AAE2);
}

.upper_bar .btn_wraper a:hover {
  background-image: -webkit-gradient(linear, left top, right top, from(#271a4a), color-stop(#7D4196), to(#FF449C));
  background-image: linear-gradient(to right, #271a4a, #7D4196, #FF449C);
}

nav.stiky {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 8px;
  background-color: #150f25;
}

nav.stiky .links_list li a {
  color: #fff;
}

nav.stiky .links_list li a.active, nav.stiky .links_list li a:hover {
  color: #FF449C;
}

nav.stiky .links_list li.translate_btn a {
  color: #FF449C;
}

nav.stiky .links_list li.translate_btn a:hover {
  color: #fff;
}

nav .logo a {
  color: #7D4196;
}

nav .logo a span {
  color: #FF449C;
}

nav .links_list li a {
  color: #fff;
}

nav .links_list li a.active, nav .links_list li a:hover {
  color: #150f25;
}

nav .links_list li.translate_btn a {
  color: #150f25;
}

nav .links_list li.translate_btn a:hover {
  color: #fff;
}

.intro_sec {
  background-image: -webkit-gradient(linear, left top, right top, from(#271a4a), color-stop(#7D4196), to(#FF449C));
  background-image: linear-gradient(to right, #271a4a, #7D4196, #FF449C);
}

.intro_sec .mockup_wraper {
  margin-top: -50px;
  z-index: 4;
  min-width: 600px;
  max-width: 600px;
  min-height: 400px;
  max-height: 400px;
  position: relative;
  background-image: url("../../media/screen.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
}

.intro_sec .mockup_wraper .preview {
  position: absolute;
  top: 53px;
  left: 78px;
  width: 451px;
  height: 281px;
  background-size: 100% !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
  border-radius: 3px;
}

.intro_sec .intro_info .container-fluid .row .info_text_wraper {
  margin-top: 50px;
}

.about_sec .about_content_wraper h2 {
  font-size: 3rem;
  color: #666;
}

.about_sec .about_content_wraper h2 span {
  color: #7D4196;
}

.about_sec .cards_wraper .card {
  border-bottom: 2px solid #271a4a;
}

.faqs_sec .header_wraper h2 {
  position: relative;
  color: #00303f;
  font-size: 2.5rem;
  font-weight: 600;
  color: #150f25;
}

.faqs_sec .header_wraper h2:after {
  content: "";
  display: block;
  width: 25%;
  height: 2px;
  position: absolute;
  bottom: -5px;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  background-color: #79dca570;
  -webkit-box-shadow: 0 0 10px 2px rgba(225, 225, 225, 0.6);
          box-shadow: 0 0 10px 2px rgba(225, 225, 225, 0.6);
}

.faqs_sec .accordion_wraper .accordion .card .card-header {
  background-image: -webkit-gradient(linear, left top, right top, from(#FF449C), color-stop(#7D4196), to(#271a4a));
  background-image: linear-gradient(to right, #FF449C, #7D4196, #271a4a);
}

.pricing_sec {
  padding: 50px 0;
}

.pricing_sec .header_wraper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 25px;
}

.pricing_sec .header_wraper h2 {
  position: relative;
  color: #00303f;
  font-size: 2.5rem;
  font-weight: 600;
  color: #150f25;
}

.pricing_sec .header_wraper h2:after {
  content: "";
  display: block;
  width: 25%;
  height: 2px;
  position: absolute;
  bottom: -5px;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  background-color: #79dca570;
  -webkit-box-shadow: 0 0 10px 2px rgba(225, 225, 225, 0.6);
          box-shadow: 0 0 10px 2px rgba(225, 225, 225, 0.6);
}

.pricing_sec .pricing_card {
  padding: 35px 25px;
  border-radius: 10px;
  -webkit-box-shadow: 0 0 10px 2px rgba(225, 225, 225, 0.6);
          box-shadow: 0 0 10px 2px rgba(225, 225, 225, 0.6);
}

.pricing_sec .pricing_card .card_header {
  text-align: center;
}

.pricing_sec .pricing_card .card_header h3 {
  color: #7D4196;
  font-weight: 600;
  font-size: 30px;
}

.pricing_sec .pricing_card .card_header h2 {
  color: #FF449C;
  font-weight: 600;
  font-size: 35px;
  margin-block: 20px;
}

.pricing_sec .pricing_card .card_header h2 span {
  font-size: 20px;
  font-weight: 500;
}

.pricing_sec .pricing_card .card_body {
  margin-top: 20px;
  position: relative;
}

.pricing_sec .pricing_card .card_body .list-group .list-group-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  border: none;
  padding: 10px 8px;
}

.pricing_sec .pricing_card .card_body .list-group .list-group-item .item_stat {
  width: 30px;
  height: 30px;
}

.pricing_sec .pricing_card .card_body .list-group .list-group-item span {
  color: #666;
  font-size: 20px;
  -webkit-margin-start: 8px;
          margin-inline-start: 8px;
}

.pricing_sec .pricing_card .card_body .btn_wraper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  position: absolute;
  bottom: -57px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.pricing_sec .pricing_card .card_body .btn_wraper a {
  text-decoration: none;
  border: none;
  background-image: -webkit-gradient(linear, right top, left top, from(#00303f), to(#27AAE2));
  background-image: linear-gradient(to left, #00303f, #27AAE2);
  color: #fff;
  padding: 10px 20px;
  border-radius: 10px;
  font-weight: 700;
  text-transform: uppercase;
  background-image: -webkit-gradient(linear, left top, right top, from(#271a4a), color-stop(#7D4196), to(#FF449C));
  background-image: linear-gradient(to right, #271a4a, #7D4196, #FF449C);
}

.pricing_sec .pricing_card .card_body .btn_wraper a:hover {
  background-image: -webkit-gradient(linear, left top, right top, from(#00303f), to(#27AAE2));
  background-image: linear-gradient(to right, #00303f, #27AAE2);
}

.pricing_sec .pricing_card .card_body .btn_wraper a:hover {
  background-image: -webkit-gradient(linear, left top, right top, from(#271a4a), color-stop(#7D4196), to(#FF449C));
  background-image: linear-gradient(to right, #271a4a, #7D4196, #FF449C);
}

.contact_us .header_wraper h2 {
  position: relative;
  color: #00303f;
  font-size: 2.5rem;
  font-weight: 600;
  color: #150f25;
}

.contact_us .header_wraper h2:after {
  content: "";
  display: block;
  width: 25%;
  height: 2px;
  position: absolute;
  bottom: -5px;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  background-color: #79dca570;
  -webkit-box-shadow: 0 0 10px 2px rgba(225, 225, 225, 0.6);
          box-shadow: 0 0 10px 2px rgba(225, 225, 225, 0.6);
}

.contact_us .form_wraper .form-group svg {
  color: #FF449C;
  opacity: 0.8;
}

.contact_us .form_wraper .btn_wraper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.contact_us .form_wraper .btn_wraper button {
  border: none;
  background-image: -webkit-gradient(linear, right top, left top, from(#00303f), to(#27AAE2));
  background-image: linear-gradient(to left, #00303f, #27AAE2);
  color: #fff;
  padding: 10px 20px;
  border-radius: 10px;
  font-weight: 700;
  text-transform: uppercase;
  background-image: -webkit-gradient(linear, left top, right top, from(#FF449C), color-stop(#7D4196), to(#271a4a));
  background-image: linear-gradient(to right, #FF449C, #7D4196, #271a4a);
}

.contact_us .form_wraper .btn_wraper button:hover {
  background-image: -webkit-gradient(linear, left top, right top, from(#00303f), to(#27AAE2));
  background-image: linear-gradient(to right, #00303f, #27AAE2);
}

.contact_us .form_wraper .btn_wraper button:hover {
  background-image: -webkit-gradient(linear, left top, right top, from(#271a4a), color-stop(#7D4196), to(#FF449C));
  background-image: linear-gradient(to right, #271a4a, #7D4196, #FF449C);
}

footer {
  background-image: -webkit-gradient(linear, left top, right top, from(#271a4a), color-stop(#7D4196), to(#FF449C));
  background-image: linear-gradient(to right, #271a4a, #7D4196, #FF449C);
}
/*# sourceMappingURL=style.css.map */