html body::-webkit-scrollbar-thumb {
  background-color: #271a4a;
}

.upper_bar {
  background-color: #008fbb;
}

.upper_bar .btn_wraper a {
  border: none;
  background-image: -webkit-gradient(linear, right top, left top, from(#00303f), to(#27AAE2));
  background-image: linear-gradient(to left, #00303f, #27AAE2);
  color: #fff;
  padding: 10px 20px;
  border-radius: 10px;
  font-weight: 700;
  text-transform: uppercase;
  background-image: -webkit-gradient(linear, left top, right top, from(#00303f), color-stop(#27AAE2), to(#ffb037));
  background-image: linear-gradient(to right, #00303f, #27AAE2, #ffb037);
}

.upper_bar .btn_wraper a:hover {
  background-image: -webkit-gradient(linear, left top, right top, from(#00303f), to(#27AAE2));
  background-image: linear-gradient(to right, #00303f, #27AAE2);
}

.upper_bar .btn_wraper a:hover {
  background-image: -webkit-gradient(linear, left top, right top, from(#ffb037), color-stop(#27AAE2), to(#00303f));
  background-image: linear-gradient(to right, #ffb037, #27AAE2, #00303f);
}

nav.stiky {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 8px;
  background-color: #00303f;
}

nav.stiky .logo a {
  color: #ffb037;
}

nav.stiky .logo a span {
  color: #27AAE2;
}

nav.stiky .links_list li a {
  color: #fff;
}

nav.stiky .links_list li a.active, nav.stiky .links_list li a:hover {
  color: #ffb037;
}

nav.stiky .links_list li.translate_btn a {
  color: #ffb037;
}

nav.stiky .links_list li.translate_btn a:hover {
  color: #fff;
}

nav .logo a {
  color: #ffb037;
}

nav .logo a span {
  color: #00303f;
}

nav .links_list li a {
  color: #fff;
}

nav .links_list li a.active, nav .links_list li a:hover {
  color: #00303f;
}

nav .links_list li.translate_btn a {
  color: #00303f;
}

nav .links_list li.translate_btn a:hover {
  color: #ffb037;
}

@media (max-width: 1000px) {
  .upper_bar .hint_wraper p {
    font-size: 15px;
  }
  .upper_bar .info_icons ul li a {
    font-size: 15px;
  }
  .upper_bar .social_icons ul li {
    width: 30px;
    height: 30px;
  }
  .upper_bar .btn_wraper a {
    padding: 5px 10px;
  }
  nav {
    position: absolute;
    top: 80px;
    left: 0;
    right: 0;
  }
}

.intro_sec {
  background-image: -webkit-gradient(linear, left top, right top, from(#27AAE2), to(#ffb037));
  background-image: linear-gradient(to right, #27AAE2, #ffb037);
}

.intro_sec .mockup_wraper {
  margin-top: -50px;
  z-index: 4;
  min-width: 600px;
  max-width: 600px;
  min-height: 400px;
  max-height: 400px;
  position: relative;
  background-image: url("../../media/screen.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
}

.intro_sec .mockup_wraper .preview {
  position: absolute;
  top: 53px;
  left: 78px;
  width: 451px;
  height: 281px;
  background-size: 100% !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
  border-radius: 3px;
}

@media (max-width: 700px) {
  .intro_sec .mockup_wraper {
    min-width: 500px;
    max-width: 500px;
    min-height: 300px;
    max-height: 300px;
  }
  .intro_sec .mockup_wraper .preview {
    top: 0px;
    left: 64px;
    width: 377px;
    height: 292px;
  }
}

.about_sec .about_content_wraper h2 {
  font-size: 3rem;
  color: #666;
}

.about_sec .about_content_wraper h2 span {
  color: #ffb037;
}

.about_sec .cards_wraper .card {
  border-bottom: 2px solid #27AAE2;
}

.promo_sec {
  position: relative;
}

.promo_sec .upper_curve {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  z-index: 10;
}

.promo_sec .upper_curve svg {
  position: relative;
  display: block;
  width: calc(120% + 1.3px);
  height: 41px;
}

.promo_sec .upper_curve svg .shape-fill {
  fill: #fff;
}

@media (max-width: 767px) {
  .promo_sec .upper_curve svg {
    width: calc(120% + 1.3px);
    height: 21px;
  }
}

.promo_sec .video_wrape {
  min-height: 600px;
  max-height: 600px;
  background-repeat: no-repeat !important;
  background-size: 100% !important;
  background-position: center !important;
  position: relative;
}

.promo_sec .video_wrape .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.promo_sec .video_wrape .overlay button {
  width: 95px;
  height: 95px;
  background-color: #fff !important;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.promo_sec .video_wrape .overlay button:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.promo_sec .video_wrape .overlay button img {
  width: 115px;
  height: 115px;
}

.promo_sec .video_wrape .overlay .modal .modal-dialog .modal-body {
  padding: 0;
}

.promo_sec .video_wrape .overlay .modal .modal-dialog .modal-body iframe {
  width: 100%;
  min-height: 600px;
  margin: 0;
}

.promo_sec .lower_curve {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  z-index: 10;
}

.promo_sec .lower_curve svg {
  position: relative;
  display: block;
  width: calc(116% + 1.3px);
  height: 58px;
}

.promo_sec .lower_curve svg .shape-fill {
  fill: #fff;
}

@media (max-width: 767px) {
  .promo_sec .lower_curve svg {
    width: calc(116% + 1.3px);
    height: 21px;
  }
}

.faqs_sec .nav-pills .nav-link {
  color: #00303f;
}

.faqs_sec .nav-pills .nav-link.active {
  border: none;
  background-image: -webkit-gradient(linear, right top, left top, from(#00303f), to(#27AAE2));
  background-image: linear-gradient(to left, #00303f, #27AAE2);
  color: #fff;
  padding: 10px 20px;
  border-radius: 10px;
  font-weight: 700;
  text-transform: uppercase;
  background-image: -webkit-gradient(linear, left top, right top, from(#ffb037), color-stop(#27AAE2), to(#00303f));
  background-image: linear-gradient(to right, #ffb037, #27AAE2, #00303f);
}

.faqs_sec .nav-pills .nav-link.active:hover {
  background-image: -webkit-gradient(linear, left top, right top, from(#00303f), to(#27AAE2));
  background-image: linear-gradient(to right, #00303f, #27AAE2);
}

.faqs_sec .nav-pills .nav-link.active:hover {
  background-image: -webkit-gradient(linear, left top, right top, from(#00303f), color-stop(#27AAE2), to(#ffb037));
  background-image: linear-gradient(to right, #00303f, #27AAE2, #ffb037);
}

.faqs_sec .accordion_wraper .accordion .card .card-header {
  background-image: -webkit-gradient(linear, left top, right top, from(#00303f), color-stop(#27AAE2), to(#ffb037));
  background-image: linear-gradient(to right, #00303f, #27AAE2, #ffb037);
}

.screens {
  padding: 50px 0;
}

.screens .header_wraper {
  margin-bottom: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.screens .header_wraper h2 {
  position: relative;
  color: #00303f;
  font-size: 2.5rem;
  font-weight: 600;
}

.screens .header_wraper h2:after {
  content: "";
  display: block;
  width: 25%;
  height: 2px;
  position: absolute;
  bottom: -5px;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  background-color: #79dca570;
  -webkit-box-shadow: 0 0 10px 2px rgba(225, 225, 225, 0.6);
          box-shadow: 0 0 10px 2px rgba(225, 225, 225, 0.6);
}

.screens .slider_wraper .owl-carousel .item {
  margin-bottom: 30px;
  text-align: center;
}

.screens .slider_wraper .owl-carousel .item .img_wraper img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

.screens .slider_wraper .owl-dots .owl-dot.active span {
  background-image: -webkit-gradient(linear, left top, right top, from(#00303f), to(#ffb037));
  background-image: linear-gradient(to right, #00303f, #ffb037);
  padding: 6px 25px;
  border-radius: 20px;
}

.screens .slider_wraper .owl-dots .owl-dot span {
  padding: 6px;
  background-color: #c1c1c1;
}

.pricing_sec {
  padding: 50px 0;
}

.pricing_sec .header_wraper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 25px;
}

.pricing_sec .header_wraper h2 {
  position: relative;
  color: #00303f;
  font-size: 2.5rem;
  font-weight: 600;
}

.pricing_sec .header_wraper h2:after {
  content: "";
  display: block;
  width: 25%;
  height: 2px;
  position: absolute;
  bottom: -5px;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  background-color: #79dca570;
  -webkit-box-shadow: 0 0 10px 2px rgba(225, 225, 225, 0.6);
          box-shadow: 0 0 10px 2px rgba(225, 225, 225, 0.6);
}

.pricing_sec .pricing_card {
  padding: 35px 25px;
  border-radius: 10px;
  -webkit-box-shadow: 0 0 10px 2px rgba(225, 225, 225, 0.6);
          box-shadow: 0 0 10px 2px rgba(225, 225, 225, 0.6);
}

.pricing_sec .pricing_card .card_header {
  text-align: center;
}

.pricing_sec .pricing_card .card_header h3 {
  color: #27AAE2;
  font-weight: 600;
  font-size: 30px;
}

.pricing_sec .pricing_card .card_header h2 {
  color: #ffb037;
  font-weight: 600;
  font-size: 35px;
  margin-block: 20px;
}

.pricing_sec .pricing_card .card_header h2 span {
  font-size: 20px;
  font-weight: 500;
}

.pricing_sec .pricing_card .card_body {
  margin-top: 20px;
  position: relative;
}

.pricing_sec .pricing_card .card_body .list-group .list-group-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  border: none;
  padding: 10px 8px;
}

.pricing_sec .pricing_card .card_body .list-group .list-group-item .item_stat {
  width: 30px;
  height: 30px;
}

.pricing_sec .pricing_card .card_body .list-group .list-group-item span {
  color: #666;
  font-size: 20px;
  -webkit-margin-start: 8px;
          margin-inline-start: 8px;
}

.pricing_sec .pricing_card .card_body .btn_wraper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  position: absolute;
  bottom: -57px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.pricing_sec .pricing_card .card_body .btn_wraper a {
  text-decoration: none;
  border: none;
  background-image: -webkit-gradient(linear, right top, left top, from(#00303f), to(#27AAE2));
  background-image: linear-gradient(to left, #00303f, #27AAE2);
  color: #fff;
  padding: 10px 20px;
  border-radius: 10px;
  font-weight: 700;
  text-transform: uppercase;
  background-image: -webkit-gradient(linear, left top, right top, from(#00303f), color-stop(#27AAE2), to(#ffb037));
  background-image: linear-gradient(to right, #00303f, #27AAE2, #ffb037);
}

.pricing_sec .pricing_card .card_body .btn_wraper a:hover {
  background-image: -webkit-gradient(linear, left top, right top, from(#00303f), to(#27AAE2));
  background-image: linear-gradient(to right, #00303f, #27AAE2);
}

.pricing_sec .pricing_card .card_body .btn_wraper a:hover {
  background-image: -webkit-gradient(linear, left top, right top, from(#ffb037), color-stop(#27AAE2), to(#00303f));
  background-image: linear-gradient(to right, #ffb037, #27AAE2, #00303f);
}

.contact_us .header_wraper h2 {
  position: relative;
  color: #00303f;
  font-size: 2.5rem;
  font-weight: 600;
}

.contact_us .header_wraper h2:after {
  content: "";
  display: block;
  width: 25%;
  height: 2px;
  position: absolute;
  bottom: -5px;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  background-color: #79dca570;
  -webkit-box-shadow: 0 0 10px 2px rgba(225, 225, 225, 0.6);
          box-shadow: 0 0 10px 2px rgba(225, 225, 225, 0.6);
}

.contact_us .form_wraper .form-group svg {
  color: #27AAE2;
  opacity: 0.8;
}

.contact_us .form_wraper .btn_wraper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.contact_us .form_wraper .btn_wraper button {
  border: none;
  background-image: -webkit-gradient(linear, right top, left top, from(#00303f), to(#27AAE2));
  background-image: linear-gradient(to left, #00303f, #27AAE2);
  color: #fff;
  padding: 10px 20px;
  border-radius: 10px;
  font-weight: 700;
  text-transform: uppercase;
  background-image: -webkit-gradient(linear, left top, right top, from(#00303f), color-stop(#27AAE2), to(#ffb037));
  background-image: linear-gradient(to right, #00303f, #27AAE2, #ffb037);
}

.contact_us .form_wraper .btn_wraper button:hover {
  background-image: -webkit-gradient(linear, left top, right top, from(#00303f), to(#27AAE2));
  background-image: linear-gradient(to right, #00303f, #27AAE2);
}

.contact_us .form_wraper .btn_wraper button:hover {
  background-image: -webkit-gradient(linear, left top, right top, from(#ffb037), color-stop(#27AAE2), to(#00303f));
  background-image: linear-gradient(to right, #ffb037, #27AAE2, #00303f);
}

footer {
  background-image: -webkit-gradient(linear, left top, right top, from(#27AAE2), to(#ffb037));
  background-image: linear-gradient(to right, #27AAE2, #ffb037);
}
/*# sourceMappingURL=theme.css.map */