// START:: VARIABLES
@import 'variables.scss';
// END:: VARIABLES

// START:: MIXINS
@import 'mixins.scss';
// END:: MIXINS

// START:: GLOBAL STYLES
body {
  font-family: 'Cairo', sans-serif;
  overflow-x: hidden;
  height: 20000px;
  &::-webkit-scrollbar {
    background-color: $lighterGrey;
    width: 5px;
  }
  &::-webkit-scrollbar-thumb {
    background-color: $deepBlue;
  }
}
// END:: GLOBAL STYLES

// START:: LARGE SCREENS NAV STYLES
nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  @include flexCenterAlignment();
  justify-content: space-between;
  padding: 20px;
  background-color: transparent;
  @include transitioning();
  &.stiky {
    padding: 8px;
    background-color: $deepPurple;
  }

  .logo {
    a {
      text-decoration: none;
      color: $pink;
      font-family: 'Lobster', cursive;
      font-size: 33px;
      span {
        font-weight: 600;
        color: $lightPurple;
      }
    }
  }

  .links_list {
    list-style: none;
    padding: 0;
    margin: 0;
    li {
      display: inline-block;
      font-size: 18px;
      font-weight: 600;
      margin-inline: 8px;
      a {
        text-decoration: none;
        color: $white;
        @include transitioning();
        &.active, 
        &:hover {
          color: $pink;
        }
      }

      &.translate_btn {
        margin-inline-start: 30px;
        a {
          color: $pink;
          @include transitioning();
          &:hover {
            color: $white;
          }
        }
      }
    }
  }
}
// END:: LARGE SCREENS NAV STYLES

// START:: HOME SECTION STYLES
.intro_sec {
  height: 100vh;
  background-color: $midPurple;
  position: relative;
  overflow: hidden;

  img {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 2;
  }

  .balon_overlay {
    span {
      z-index: 1;
      position: absolute;
      display: block;
      @include borderRadius($borderRadiusAmount);
      background-color: rgba(225, 225, 225, 0.3);
      @include simpleShadow();
      &.shape1 {
        width: 100px;
        height: 100px;
        left: 5%;
        bottom: -25%;
        animation: balons infinite;
        animation-duration: 15s;
        animation-timing-function: ease-in-out;
        animation-delay: 0s;
      }
      &.shape2 {
        width: 50px;
        height: 50px;
        left: 15%;
        bottom: -25%;
        animation: balons infinite;
        animation-duration: 15s;
        animation-timing-function: ease-in-out;
        animation-delay: 1s;
      }
      &.shape3 {
        width: 120px;
        height: 120px;
        left: 30%;
        bottom: -25%;
        animation: balons infinite;
        animation-duration: 15s;
        animation-timing-function: ease-in-out;
        animation-delay: 6;
      }
      &.shape4 {
        width: 80px;
        height: 80px;
        left: 40%;
        bottom: -25%;
        animation: balons infinite;
        animation-duration: 15s;
        animation-timing-function: ease-in-out;
        animation-delay: 4s;
      }
      &.shape5 {
        width: 100px;
        height: 100px;
        left: 70%;
        bottom: -25%;
        animation: balons infinite;
        animation-duration: 15s;
        animation-timing-function: ease-in-out;
        animation-delay: 5s;
      }
      &.shape6 {
        width: 70px;
        height: 70px;
        left: 90%;
        bottom: -25%;
        animation: balons infinite;
        animation-duration: 15s;
        animation-timing-function: ease-in-out;
        animation-delay: 4.5s;
      }
      &.shape7 {
        width: 130px;
        height: 130px;
        left: 50%;
        bottom: -25%;
        animation: balons infinite;
        animation-duration: 15s;
        animation-timing-function: ease-in-out;
        animation-delay: 2s;
      }
      &.shape8 {
        width: 90px;
        height: 90px;
        left: 35%;
        bottom: -25%;
        animation: balons infinite;
        animation-duration: 15s;
        animation-timing-function: ease-in-out;
        animation-delay: 2.5s;
      }
      &.shape9 {
        width: 100px;
        height: 100px;
        left: 70%;
        bottom: -25%;
        animation: balons infinite;
        animation-duration: 15s;
        animation-timing-function: ease-in-out;
        animation-delay: 3s;
      }
      &.shape10 {
        width: 100px;
        height: 100px;
        left: 20%;
        bottom: -25%;
        animation: balons infinite;
        animation-duration: 15s;
        animation-timing-function: ease-in-out;
        animation-delay: 0.5s;
        animation-delay: 2s;
      }    
    }
  }

  .intro_info {
    height: 100%;
    .container-fluid {
      height: 100%;
      .row {
        height: 100%;
        @include flexCenterAlignment();
        .info_header_wraper {
          text-align: center;
          h1 {
            display: inline-block;
            font-size: 3.5rem;
            color: $white;
            margin-bottom: 0;
            margin-inline-end: 10px;
          }
          .typed-cursor {
            color: $white;
            font-size: 40px;
          }
        }

        .info_text_wraper {
          width: 80%;
          margin-top: 15px;
          p {
            color: $white;
            font-size: 20px;
            line-height: 1.7;
            word-spacing: 4px;
            text-align: center;
          }
        }
      }
    }
  }
}

@keyframes balons {
  0% {
    transform: rotate(0);
    opacity: 1;
  }
  100% {
    bottom: 120%;
    transform: rotate(180deg);
    opacity: 0;
  }
}
// END:: HOME SECTION STYLES

// START:: ABOUT SECTION STYLES
.about_sec {

}
// END:: ABOUT SECTION STYLES