html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Cairo', sans-serif;
  overflow-x: hidden;
  height: 20000px;
}

body::-webkit-scrollbar {
  background-color: #c1c1c1;
  width: 5px;
}

body::-webkit-scrollbar-thumb {
  background-color: #271a4a;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 20px;
  background-color: transparent;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

nav.stiky {
  padding: 8px;
  background-color: #150f25;
}

nav .logo a {
  text-decoration: none;
  color: #FF449C;
  font-family: 'Lobster', cursive;
  font-size: 33px;
}

nav .logo a span {
  font-weight: 600;
  color: #7D4196;
}

nav .links_list {
  list-style: none;
  padding: 0;
  margin: 0;
}

nav .links_list li {
  display: inline-block;
  font-size: 18px;
  font-weight: 600;
  margin-inline: 8px;
}

nav .links_list li a {
  text-decoration: none;
  color: #fff;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

nav .links_list li a.active, nav .links_list li a:hover {
  color: #FF449C;
}

nav .links_list li.translate_btn {
  -webkit-margin-start: 30px;
          margin-inline-start: 30px;
}

nav .links_list li.translate_btn a {
  color: #FF449C;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

nav .links_list li.translate_btn a:hover {
  color: #fff;
}

.intro_sec {
  height: 100vh;
  background-color: #271a4a;
  position: relative;
  overflow: hidden;
}

.intro_sec img {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 2;
}

.intro_sec .balon_overlay span {
  z-index: 1;
  position: absolute;
  display: block;
  border-radius: 10px;
  background-color: rgba(225, 225, 225, 0.3);
  -webkit-box-shadow: 0 0 10px 2px rgba(225, 225, 225, 0.3);
          box-shadow: 0 0 10px 2px rgba(225, 225, 225, 0.3);
}

.intro_sec .balon_overlay span.shape1 {
  width: 100px;
  height: 100px;
  left: 5%;
  bottom: -25%;
  -webkit-animation: balons infinite;
          animation: balons infinite;
  -webkit-animation-duration: 15s;
          animation-duration: 15s;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
}

.intro_sec .balon_overlay span.shape2 {
  width: 50px;
  height: 50px;
  left: 15%;
  bottom: -25%;
  -webkit-animation: balons infinite;
          animation: balons infinite;
  -webkit-animation-duration: 15s;
          animation-duration: 15s;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

.intro_sec .balon_overlay span.shape3 {
  width: 120px;
  height: 120px;
  left: 30%;
  bottom: -25%;
  -webkit-animation: balons infinite;
          animation: balons infinite;
  -webkit-animation-duration: 15s;
          animation-duration: 15s;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-animation-delay: 6;
          animation-delay: 6;
}

.intro_sec .balon_overlay span.shape4 {
  width: 80px;
  height: 80px;
  left: 40%;
  bottom: -25%;
  -webkit-animation: balons infinite;
          animation: balons infinite;
  -webkit-animation-duration: 15s;
          animation-duration: 15s;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-animation-delay: 4s;
          animation-delay: 4s;
}

.intro_sec .balon_overlay span.shape5 {
  width: 100px;
  height: 100px;
  left: 70%;
  bottom: -25%;
  -webkit-animation: balons infinite;
          animation: balons infinite;
  -webkit-animation-duration: 15s;
          animation-duration: 15s;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-animation-delay: 5s;
          animation-delay: 5s;
}

.intro_sec .balon_overlay span.shape6 {
  width: 70px;
  height: 70px;
  left: 90%;
  bottom: -25%;
  -webkit-animation: balons infinite;
          animation: balons infinite;
  -webkit-animation-duration: 15s;
          animation-duration: 15s;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-animation-delay: 4.5s;
          animation-delay: 4.5s;
}

.intro_sec .balon_overlay span.shape7 {
  width: 130px;
  height: 130px;
  left: 50%;
  bottom: -25%;
  -webkit-animation: balons infinite;
          animation: balons infinite;
  -webkit-animation-duration: 15s;
          animation-duration: 15s;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
}

.intro_sec .balon_overlay span.shape8 {
  width: 90px;
  height: 90px;
  left: 35%;
  bottom: -25%;
  -webkit-animation: balons infinite;
          animation: balons infinite;
  -webkit-animation-duration: 15s;
          animation-duration: 15s;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-animation-delay: 2.5s;
          animation-delay: 2.5s;
}

.intro_sec .balon_overlay span.shape9 {
  width: 100px;
  height: 100px;
  left: 70%;
  bottom: -25%;
  -webkit-animation: balons infinite;
          animation: balons infinite;
  -webkit-animation-duration: 15s;
          animation-duration: 15s;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-animation-delay: 3s;
          animation-delay: 3s;
}

.intro_sec .balon_overlay span.shape10 {
  width: 100px;
  height: 100px;
  left: 20%;
  bottom: -25%;
  -webkit-animation: balons infinite;
          animation: balons infinite;
  -webkit-animation-duration: 15s;
          animation-duration: 15s;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
}

.intro_sec .intro_info {
  height: 100%;
}

.intro_sec .intro_info .container-fluid {
  height: 100%;
}

.intro_sec .intro_info .container-fluid .row {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.intro_sec .intro_info .container-fluid .row .info_header_wraper {
  text-align: center;
}

.intro_sec .intro_info .container-fluid .row .info_header_wraper h1 {
  display: inline-block;
  font-size: 3.5rem;
  color: #fff;
  margin-bottom: 0;
  -webkit-margin-end: 10px;
          margin-inline-end: 10px;
}

.intro_sec .intro_info .container-fluid .row .info_header_wraper .typed-cursor {
  color: #fff;
  font-size: 40px;
}

.intro_sec .intro_info .container-fluid .row .info_text_wraper {
  width: 80%;
  margin-top: 15px;
}

.intro_sec .intro_info .container-fluid .row .info_text_wraper p {
  color: #fff;
  font-size: 20px;
  line-height: 1.7;
  word-spacing: 4px;
  text-align: center;
}

@-webkit-keyframes balons {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
    opacity: 1;
  }
  100% {
    bottom: 120%;
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
    opacity: 0;
  }
}

@keyframes balons {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
    opacity: 1;
  }
  100% {
    bottom: 120%;
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
    opacity: 0;
  }
}

.about_sec {
  padding: 60px 0;
}

.about_sec .about_content_wraper h2 {
  font-size: 3rem;
  color: #666;
}

.about_sec .about_content_wraper h2 span {
  color: #FF449C;
  font-family: 'Lobster', cursive;
}

.about_sec .about_content_wraper h2 span span {
  color: #7D4196;
}

.about_sec .about_content_wraper .text {
  color: #666;
  text-align: start;
  word-break: break-word;
  font-size: 18px;
  word-spacing: 4px;
  line-height: 1.5;
}

.about_sec .cards_wraper .row > div:nth-child(2), .about_sec .cards_wraper .row > div:nth-child(4) {
  margin-top: 30px;
}

.about_sec .cards_wraper .row > div:nth-child(1), .about_sec .cards_wraper .row > div:nth-child(3) {
  margin-top: 10px;
}

@media (max-width: 1091px) {
  .about_sec .cards_wraper .row > div:nth-child(1), .about_sec .cards_wraper .row > div:nth-child(2), .about_sec .cards_wraper .row > div:nth-child(3), .about_sec .cards_wraper .row > div:nth-child(4) {
    margin-top: 5px;
  }
}

.about_sec .cards_wraper .card {
  min-height: 260px;
  max-height: 260px;
  border-radius: 0;
  border: none;
  border-bottom: 2px solid #271a4a;
  text-align: center;
  padding: 15px;
  -webkit-box-shadow: 0 0 10px 2px rgba(225, 225, 225, 0.6);
          box-shadow: 0 0 10px 2px rgba(225, 225, 225, 0.6);
}

.about_sec .cards_wraper .card .icon_wraper img {
  min-height: 65px;
  max-height: 65px;
  min-width: 65px;
  max-width: 65px;
}

.about_sec .cards_wraper .card .card_details h4 {
  margin-block: 15px;
  color: #150f25;
}

.about_sec .cards_wraper .card .card_details > div {
  color: #666;
  font-size: 16px;
  word-break: break-word;
}

.applications_sec {
  padding: 50px 0;
}

.applications_sec .header_wraper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.applications_sec .header_wraper h2 {
  position: relative;
  color: #150f25;
  font-size: 2.5rem;
  font-weight: 600;
}

.applications_sec .header_wraper h2:after {
  content: "";
  display: block;
  width: 25%;
  height: 2px;
  position: absolute;
  bottom: -5px;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  background-color: #7D4196;
  -webkit-box-shadow: 0 0 10px 2px rgba(225, 225, 225, 0.6);
          box-shadow: 0 0 10px 2px rgba(225, 225, 225, 0.6);
}

.applications_sec .header_wraper .text {
  font-size: 20px;
  color: #666;
  word-break: break-word;
  margin-top: 15px;
  word-spacing: 3px;
  text-align: center;
}

.applications_sec .app_card {
  text-decoration: none;
  display: block;
  min-height: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  padding: 20px;
  -webkit-box-shadow: 0 0 10px 2px rgba(225, 225, 225, 0.6);
          box-shadow: 0 0 10px 2px rgba(225, 225, 225, 0.6);
  background-size: 100% !important;
  background-position: bottom !important;
  background-repeat: no-repeat !important;
}

.applications_sec .app_card .img_wraper {
  min-height: 100px;
  max-height: 100px;
  min-width: 100px;
  max-width: 100px;
}

.applications_sec .app_card .img_wraper img {
  width: 100%;
  height: 100%;
}

.applications_sec .app_card .info_wraper h4 {
  margin-block: 8px;
  color: #150f25;
}

.applications_sec .app_card .info_wraper .text {
  color: #666;
  font-size: 18px;
  line-height: 1.6;
  word-break: break-word;
}

.contact_us {
  background: url("../media/header-sape6.png");
  background-repeat: no-repeat;
  background-size: 100%;
  padding: 50px 0;
}

.contact_us .header_wraper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contact_us .header_wraper h2 {
  position: relative;
  color: #150f25;
  font-size: 2.5rem;
  font-weight: 600;
}

.contact_us .header_wraper h2:after {
  content: "";
  display: block;
  width: 25%;
  height: 2px;
  position: absolute;
  bottom: -5px;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  background-color: #7D4196;
  -webkit-box-shadow: 0 0 10px 2px rgba(225, 225, 225, 0.6);
          box-shadow: 0 0 10px 2px rgba(225, 225, 225, 0.6);
}

.contact_us .header_wraper .text {
  font-size: 20px;
  color: #666;
  word-break: break-word;
  margin-top: 15px;
  word-spacing: 3px;
  text-align: center;
}

.contact_us .form_wraper {
  margin-top: 25px;
}

.contact_us .form_wraper .form-group {
  padding: 5px 10px;
  margin-block: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 0 0 10px 2px rgba(225, 225, 225, 0.6);
          box-shadow: 0 0 10px 2px rgba(225, 225, 225, 0.6);
  border-radius: 10px;
}

.contact_us .form_wraper .form-group input {
  border: none;
}

.contact_us .form_wraper .form-group input:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
  border: none;
  outline: none;
}

.contact_us .form_wraper .form-group svg {
  color: #f869ac;
  opacity: 0.5;
}

.contact_us .form_wraper .btn_wraper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.contact_us .form_wraper .btn_wraper button {
  border: none;
  background-image: -webkit-gradient(linear, left top, right top, from(#271a4a), to(#FF449C));
  background-image: linear-gradient(to right, #271a4a, #FF449C);
  color: #fff;
  padding: 10px 20px;
  border-radius: 10px;
}

.contact_us .form_wraper .btn_wraper button:hover {
  background-image: -webkit-gradient(linear, right top, left top, from(#271a4a), to(#FF449C));
  background-image: linear-gradient(to left, #271a4a, #FF449C);
}
/*# sourceMappingURL=style.css.map */