$mainColor: #27AAE2;
$secondaryColor: #79f9cd;

$midYellow: #ffb037;
$midBlue: #008fbb;
$deepBlue: #00303f;
$lightCoffee: #d0af85;
$midRed: #bb0808;
$deepPurple: #150f25;
$lightPurple: #7D4196;
$midPurple: #271a4a;
$pink: #FF449C;
$lightOrange: #ff7c00;
$lighterGrey: #c1c1c1;
$lightGrey: #666;
$darkGrey: #212121;
$white: #fff;
$paddingAmount: 50px;
$borderRadiusAmount: 10px;
$midBorderRadiusAmount: 20px;
$largeBorderRadiusAmount: 30px;