$deepBlue: #00303f;
$lightCoffee: #d0af85;
$midRed: #bb0808;
$lightOrange: #ff7c00;
$lighterGrey: #c1c1c1;
$lightGrey: #666;
$darkGrey: #212121;
$white: #fff;
$paddingAmount: 30px;
$borderRadiusAmount: 10px;
$midBorderRadiusAmount: 20px;
$largeBorderRadiusAmount: 30px;